
body {
  margin: 0;
  background: #808080;
  background-image: url("../images/bg-tile.png");
  font-family: "MS Sans Serif", Arial, sans-serif;
}

.topbar {
  background: black;
  color: white;
  padding: 4px;
  border-bottom: 2px solid white;
}

.page-wrap {
  height: 100vh - 32px;
}

.leftbar, .rightbar {
  padding: 6px;
}

.content-box {
  background: black;
  color: white;
  margin: 8px;
  border: 4px solid black;
  outline: 2px solid white;
  box-shadow: 0 0 0 4px #000000;
  overflow: hidden;
}

.inner-scroll {
  height: 100%;
  overflow-y: auto;
  padding: 10px;
}
.leftbar {
float: left;
}

.rightbar {
float: right;
}

.leftbar img {
  width: 48px;
  display: block;
  margin-bottom: 6px;
}

.leftbar img.big {
  width: 64px;
  display: block;
}

@media (orientation: portrait) {
  .leftbar,
  .rightbar {
    display: none;
  }

  .page-wrap {
    grid-template-columns: 1fr;
	height: calc(100dvh - 32px);
  }

    h1 {
        font-size: 3rem;
    }
    p {
        font-size: 1.5rem;
    }

  .content-box {
    margin: 6px;
  }
}
