
body {
  margin: 0;
  background: #808080;
  background-image: url("../images/bg-tile.png");
  font-family: "MS Sans Serif", Arial, sans-serif;
}

#topbar {
  background: black;
  position: relative;
  font-family: "Win95", monospace;
  line-height: 22px;
  height: 22px;
  overflow: hidden;
  color: white;
  padding: 4px;
  border-bottom: 2px solid white;
  box-shadow: 0 0 0 4px #000000;
}

#dvd {
  position: absolute;
  white-space: nowrap;
  line-height: 12px;
  font-size: 12px;
  font-family: "Win95", monospace;
}
#dvd p {
  margin: 0;
}

.page-wrap {
  height: calc(100vh - 32px);
}
	
.leftbar, .rightbar {
  padding: 6px;
}

.content-box {
  background: black;
  color: white;
  margin: 8px;
  border: 4px solid black;
  outline: 2px solid white;
  box-shadow: 0 0 0 4px #000000;
  overflow: hidden;
  flex: 1;
}

.inner-scroll {
  height: 100%;
  overflow-y: auto;
  padding: 10px;
}
.leftbar {
  width: 128px;
  flex-shrink: 0
}

.rightbar {
  width: 128px;
  flex-shrink: 0
}

.leftbar img {
  width: 48px;
  text-align: justify;
  margin-bottom: 6px;
  margin-top: 6px;
  margin-left: 6px;
  margin-right: 6px;ce
}

.leftbar img.big {
  width: 64px;
  text-align: justify;
  margin-bottom: 6px;
  margin-top: 6px;
  margin-left: 6px;
  margin-right: 6px;
}

.page-wrap {
	overflow: hidden;
	display: flex;
}


@media (orientation: portrait) {
  .leftbar,
  .rightbar {
    display: none;
  }

  .page-wrap {
    grid-template-columns: 1fr;
	height: calc(100dvh - 32px);
  }

      h1 {
          font-size: 2.4rem;
      }
      p {
          font-size: 1.2rem;
      }
	  #dvd p {
		font-size: 1rem;
	  }

  .content-box {
    margin: 6px;
  }
}
