---
---

<!DOCTYPE html>
<html>
<body>

<h1>swaggy files :) :)</h1>

{% assign goodies = site.static_files
  | where_exp: "f", "f.path contains '/!!goodies/'"
  | sort: "path" %}

{% assign current_folder = "" %}

<ul style="list-style: none; padding-left: 0;">

{% for file in goodies %}

  {% assign parts = file.path | split:'/' %}
  {% assign folder = parts[2] %}
  {% assign filename = file.name %}
  {% assign ext = filename | split:'.' | last | downcase %}

  {% if parts.size == 3 %}
    {% assign folder = "root" %}
  {% endif %}

  {% if folder != current_folder %}
    {% if current_folder != "" %}
        </ul></details>
    {% endif %}

    {% if folder == "root" %}
      <h2>loose bullshit</h2>
      <ul style="list-style:none;padding-left:0;">
    {% else %}
      <details>
        <summary>
          <img src="/icons/folder.png" width="16" height="16">
          {{ folder }}
        </summary>
        <ul style="list-style:none;padding-left:20px;">
    {% endif %}

    {% assign current_folder = folder %}
  {% endif %}

  {% comment %} ICON MAP {% endcomment %}
  {% if ext == filename %}
    {% assign icon = '/icons/comment.png' %}
  {% elsif ext == 'ogg' or ext == 'mp3' or ext == 'wav' %}
    {% assign icon = '/icons/music.png' %}
  {% elsif ext == 'mp4' or ext == 'webm' %}
    {% assign icon = '/icons/film.png' %}
  {% elsif ext == 'png' or ext == 'jpg' or ext == 'jpeg' or ext == 'bmp' or ext == 'gif' %}
    {% assign icon = '/icons/image.png' %}
  {% elsif ext == 'iso' %}
    {% assign icon = '/icons/dvd.png' %}
  {% elsif ext == 'nes' or ext == 'gba' or ext == 'rom' or ext == 'bin' %}
    {% assign icon = '/icons/controller.png' %}
  {% elsif ext == 'html' %}
    {% assign icon = '/icons/tag.png' %}
  {% elsif ext == 'css' %}
    {% assign icon = '/icons/css.png' %}
  {% else %}
    {% assign icon = '/icons/page_white.png' %}
  {% endif %}

  <li>
    <img src="{{ icon }}" width="16" height="16">
    <a href="{{ file.path }}">{{ file.name }}</a>
  </li>

{% endfor %}

</ul>

</body>
</html>
